.wrap {
  margin: 0 auto;
  max-width: 1200px;
}

.menu,
.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  height: 90px;
}

.links {
  max-width: 340px;
  width: 100%;
  font-family: Dosis SemiBold;
}

strong {
  font-family: Dosis Bold;
}

.large-title {
  font-size: 45px;
}

.sub-title {
  font-size: 30px;
}

.section-one > div,
.section-two > div {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.intro-text {
  font-size: 28px;
  max-width: 541px;
  width: 100%;
}

.book-text {
  font-size: 20px;
  max-width: 480px;
  width: 100%;
}

.section-one {
  padding-bottom: 80px;
}

.section-two {
  background-color: var(--secondary-bg);
  padding-bottom: 80px;
  padding-top: 20px;
}

.section-two > div {
  justify-content: space-around;
  align-items: start;
}

.btn {
  border-radius: 20px;
  background: var(--bg);
  box-shadow: 0px 10px 20px rgba(52, 53, 55, 0.4);
  font-size: 18px;
  color: var(--secondary);
  font-family: Dosis Bold;
  padding: 12px 35px;
  cursor: pointer;
}

.cta-holder {
  margin-top: 50px;
}

.section-three {
  padding-bottom: 80px;
}

.underline {
  border-bottom: 8px solid var(--unlines);
  border-radius: 4px;
}

.latest {
  display: flex;
  margin-top: 80px;
  justify-content: start;
  padding: 0;
  flex-wrap: wrap;

  li {
    display: flex;
    list-style: none;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-bottom: 30px;
    max-width: 300px;
    width: 100%;

    img {
      border-radius: 20px;
    }

    a.post-title {
      font-family: Dosis Bold;
      font-size: 20px;
      margin-top: 15px;
    }

    a.reading-link {
      font-family: Dosis Medium;
    }
  }
}

.blog {
  width: 80%;
  margin: 0 auto;
}
